body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.chart {
  width: 50%;
  min-height: 500px;
}